.App{
  text-align: center;
  background-image:
  url(
"https://plus.unsplash.com/premium_photo-1675860537743-176222fe596c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1300&q=1400");
height: max-content;
}
.card{
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  color: whitesmoke;
  font-weight: 800;
  background-color: rgb(10, 10, 11);
  height: fit-content;
  border-radius: 10px;
  border:2px solid  #bdc4d2;
  display: flex;
  flex-direction: column;
}
.App input{
  color: rgb(58, 48, 48);
  font-weight: 800;
  background-color: rgba(246, 249, 250, 0.953);
  margin: 10px;
  border:2px solid  #bdc4d2;
  border-radius: 5px;
  width: 60%;
  height: 40px;
}
.forecast{
  margin: 10px;
  color:black;
  border:2px solid  #bdc4d2;
  border-radius: 5px;
  background-color: rgb(250, 247, 251);
}

.forecast button{
  color: rgb(249, 243, 243);
  font-weight: 800;
  background-color: rgb(21, 2, 42);
  margin-top: 15px;
  border:2px solid  #bdc4d2;
  border-radius: 5px;
  width: 60%;
  height: 40px;
}